<%- include('../layout/header'); -%>
    
<div class="main-header">
    <h5>Search Result</h5>
</div>
  
        <div class="outer-box">
        <div class="book-box">
        <img id="book-img" src="<%=details.image_url%>">
       
    </div>
    <h2 id="booke-title"><%=details.title%></h2>
    <h5 id="book-author"><%=details.author%></h5>
    <p class="book-description"><%=details.isbn %></p>
</div>
    <%- include('../layout/footer'); -%>
    
</body>
</html>
